---
title: V&A Manifest Editor
---
<style>
  html,body, #app {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
	}
	* {
		margin: 0;
		padding: 0;
	}
	*, *:before, *:after {
		box-sizing: border-box;
	}
	.loading-indicator {
		display: flex; 
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
</style>
<div id="app">
	<div class="loading-indicator">
		<p>Loading Editor...</p>
	<div>
</div>